@{
    Layout = "_Layout";
}

<h1>Welcome to Eau Claire's Salon!</h1>
<p>@Html.ActionLink("See all stylists!", "Index", "Stylists")</p>

<img src="img/salon.jpeg" class="salon" alt="A photo of a salon">